#DDayDiv{
  text-align: center;
  width: 70%;
  height: 250px;
  background-color: black;
  border-radius: 7px;
  border: 1px solid black;
  margin:10vh auto 1px auto;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 1px 1px gray;
}
#DDayInput1,#DDayInput2,#DDayInput3{
  height:20px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 3px solid black;
  background: rgba(0, 0, 0, 0.0);
  width:18%;
  margin-right:10px;
  text-align: center;
  font-size:25px;
}
#DDayBut{
  height:20px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
  background: rgba(0, 0, 0, 0.0);
}
#DDayDiv h4{
  font-size:30px;
}
#DDayDiv h1{
  font-size:30px;
}
